{% extends 'base.html' %}

{% block headline %}
	<h1>{% block title %}Mean Reviews{% endblock %}</h1>
{% endblock %}

{% block main %}
	<p class="lead">Did you receive a mean review on your paper? Share it with us. Check the mean reviews others shared below:</p>
	<figure>
		<blockquote class="blockquote">
			<p>
				This paper is more appropriate for a specialty journal. Like,
				one that specializes in terrible papers.
			</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			From @thirdreviewer 
		</figcaption>
	</figure>

	{% for review in reviews %}
	<figure>
		<blockquote class="blockquote">
			<p>
				{{ review['content'] }}
			</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			From @{{ review['username'].split("@")[0] }}
		</figcaption>
	</figure>
	{% endfor %}
{% endblock %}
	